#  Spark SQL, DataFrames and Datasets Guide

https://spark.apache.org/docs/latest/sql-programming-guide.html

https://phoenixnap.com/kb/rdd-vs-dataframe-vs-dataset

# Originally

RDD was the primary user-facing API in Spark since its inception.

At the core, an RDD is:

- an immutable distributed collection of elements of your data,

- partitioned across nodes in your cluster that can be operated in parallel

- with a low-level API that offers transformations and actions.

# Is that enough ?

![](https://i.imgflip.com/566dsy.jpg)

[NicsMeme](https://imgflip.com/i/566dsy)

![](https://i.imgflip.com/6eibrt.jpg)

# When to use RDDs?
 
Consider these scenarios or common use cases for using RDDs when:

**Pro**

- you want low-level transformation and actions and control on your dataset;

- your data is unstructured, such as media streams or streams of text;

- you want to manipulate your data with functional programming constructs than domain specific expressions;

**Contra**

- you don’t care about imposing a schema, such as columnar format, while processing or accessing data attributes by name or column;

- you can forgo some optimization and performance benefits available with DataFrames and Datasets for structured and semi-structured data.

![](https://databricks.com/wp-content/uploads/2016/07/memory-usage-when-caching-datasets-vs-rdds.png)

# We love types

![](https://cdn2.hexlet.io/derivations/image/original/eyJpZCI6IjFkMDUwZmZhNGIwNGMxMzU3ZTI0M2UwMDlhYWI1ZmZmLnBuZyIsInN0b3JhZ2UiOiJjYWNoZSJ9?signature=356de17911b2b04657ed56dd6f6b884e5ad82e5def90d2adf8c72bdbe0b05213)

# Evolution

![](images/human-evolution-monkey-modern-man-programmer-computer-user-isolated-white_33099-1593.jpg)

![](https://image.slidesharecdn.com/jumpstartintoapachesparkanddatabricks-160212150759/95/jump-start-into-apache-spark-and-databricks-13-638.jpg?cb=1463623478)

![](https://databricks.com/wp-content/uploads/2016/06/Unified-Apache-Spark-2.0-API-1.png)

# When should I use DataFrames or Datasets?

- If you want rich semantics, high-level abstractions, and domain specific APIs, use DataFrame or Dataset.
- If your processing demands high-level expressions, filters, maps, aggregation, averages, sum, SQL queries, columnar access and use of lambda functions on semi-structured data, use DataFrame or Dataset.
- If you want higher degree of type-safety at compile time, want typed JVM objects, take advantage of Catalyst optimization, and benefit from Tungsten’s efficient code generation, use Dataset.
- If you want unification and simplification of APIs across Spark Libraries, use DataFrame or Dataset.
- If you are a R user, use DataFrames.
- If you are a Python user, use DataFrames and resort back to RDDs if you need more control.

# A nice comparison

https://data-flair.training/blogs/apache-spark-rdd-vs-dataframe-vs-dataset/

# Demo

In [1]:
import findspark
import pyspark
findspark.find( ) 
findspark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("TapDataFrame").getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/02 15:35:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.html

In [4]:
file = "/Users/nics/Dev/GitHub/tap2022/spark/dataset/olympic-games/summer.csv"  # Should be some file on your system
dataset = spark.read.option("Header",True).option("inferSchema",True).csv(file)
dataset

DataFrame[Year: int, City: string, Sport: string, Discipline: string, Athlete: string, Country: string, Gender: string, Event: string, Medal: string]

In [5]:
dataset.count()

31165

In [6]:
dataset.dtypes

[('Year', 'int'),
 ('City', 'string'),
 ('Sport', 'string'),
 ('Discipline', 'string'),
 ('Athlete', 'string'),
 ('Country', 'string'),
 ('Gender', 'string'),
 ('Event', 'string'),
 ('Medal', 'string')]

In [7]:
dataset.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Athlete: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

In [9]:
dataset.select('City','Discipline').tail(10)

[Row(City='London', Discipline='Wrestling Freestyle'),
 Row(City='London', Discipline='Wrestling Freestyle'),
 Row(City='London', Discipline='Wrestling Freestyle'),
 Row(City='London', Discipline='Wrestling Freestyle'),
 Row(City='London', Discipline='Wrestling Freestyle'),
 Row(City='London', Discipline='Wrestling Freestyle'),
 Row(City='London', Discipline='Wrestling Freestyle'),
 Row(City='London', Discipline='Wrestling Freestyle'),
 Row(City='London', Discipline='Wrestling Freestyle'),
 Row(City='London', Discipline='Wrestling Freestyle')]

In [12]:
new=dataset.select(dataset.Sport, dataset.Year / 1000).head(10)

In [15]:
new

[Row(Sport='Aquatics', (Year / 1000)=1.896),
 Row(Sport='Aquatics', (Year / 1000)=1.896),
 Row(Sport='Aquatics', (Year / 1000)=1.896),
 Row(Sport='Aquatics', (Year / 1000)=1.896),
 Row(Sport='Aquatics', (Year / 1000)=1.896),
 Row(Sport='Aquatics', (Year / 1000)=1.896),
 Row(Sport='Aquatics', (Year / 1000)=1.896),
 Row(Sport='Aquatics', (Year / 1000)=1.896),
 Row(Sport='Aquatics', (Year / 1000)=1.896),
 Row(Sport='Aquatics', (Year / 1000)=1.896)]

In [18]:
dataset.select(dataset.Sport).distinct().show()

+-----------------+
|            Sport|
+-----------------+
|       Gymnastics|
|           Tennis|
|           Boxing|
|       Tug of War|
|Water Motorsports|
|       Ice Hockey|
|             Golf|
|           Rowing|
|             Judo|
|         Softball|
|          Sailing|
|       Basketball|
|         Handball|
|        Triathlon|
|        Badminton|
|          Croquet|
|        Athletics|
|             Polo|
|     Jeu de paume|
|          Skating|
+-----------------+
only showing top 20 rows

In [19]:
dataset.filter(dataset.Sport == 'Tennis').filter(dataset.Event == 'Singles').filter(dataset.Medal == 'Gold').show(50)

+----+---------+------+----------+--------------------+-------+------+-------+-----+
|Year|     City| Sport|Discipline|             Athlete|Country|Gender|  Event|Medal|
+----+---------+------+----------+--------------------+-------+------+-------+-----+
|1896|   Athens|Tennis|    Tennis|        BOLAND, John|    GBR|   Men|Singles| Gold|
|1900|    Paris|Tennis|    Tennis|DOHERTY, Hugh Law...|    GBR|   Men|Singles| Gold|
|1900|    Paris|Tennis|    Tennis|   COOPER, Charlotte|    GBR| Women|Singles| Gold|
|1904| St Louis|Tennis|    Tennis|WRIGHT, Beals Col...|    USA|   Men|Singles| Gold|
|1908|   London|Tennis|    Tennis|RITCHIE, Josiah G...|    GBR|   Men|Singles| Gold|
|1908|   London|Tennis|    Tennis|CHAMBERS, Dorothy...|    GBR| Women|Singles| Gold|
|1912|Stockholm|Tennis|    Tennis|WINSLOW, Charles ...|    RSA|   Men|Singles| Gold|
|1912|Stockholm|Tennis|    Tennis|BROQUEDIS, Margue...|    FRA| Women|Singles| Gold|
|1920|  Antwerp|Tennis|    Tennis|      RAYMOND, Louis|    RSA|   Men|Singles| Gold|
|1920|  Antwerp|Tennis|    Tennis|    LENGLEN, Suzanne|    FRA| Women|Singles| Gold|
|1924|    Paris|Tennis|    Tennis|   RICHARDS, Vincent|    USA|   Men|Singles| Gold|
|1924|    Paris|Tennis|    Tennis|  WILLS-MOODY, Helen|    USA| Women|Singles| Gold|
|1988|    Seoul|Tennis|    Tennis|     MECIR, Miloslav|    TCH|   Men|Singles| Gold|
|1988|    Seoul|Tennis|    Tennis|        GRAF, Steffi|    FRG| Women|Singles| Gold|
|1992|Barcelona|Tennis|    Tennis|        ROSSET, Marc|    SUI|   Men|Singles| Gold|
|1992|Barcelona|Tennis|    Tennis|  CAPRIATI, Jennifer|    USA| Women|Singles| Gold|
|1996|  Atlanta|Tennis|    Tennis|       AGASSI, Andre|    USA|   Men|Singles| Gold|
|1996|  Atlanta|Tennis|    Tennis|  DAVENPORT, Lindsay|    USA| Women|Singles| Gold|
|2000|   Sydney|Tennis|    Tennis| KAFELNIKOV, Eugueni|    RUS|   Men|Singles| Gold|
|2000|   Sydney|Tennis|    Tennis|     WILLIAMS, Venus|    USA| Women|Singles| Gold|
|2004|   Athens|Tennis|    Tennis|      MASSU, Nicolas|    CHI|   Men|Singles| Gold|
|2004|   Athens|Tennis|    Tennis|HENIN-HARDENNE, J...|    BEL| Women|Singles| Gold|
|2008|  Beijing|Tennis|    Tennis|       NADAL, Rafael|    ESP|   Men|Singles| Gold|
|2008|  Beijing|Tennis|    Tennis|   DEMENTIEVA, Elena|    RUS| Women|Singles| Gold|
|2012|   London|Tennis|    Tennis|        MURRAY, Andy|    GBR|   Men|Singles| Gold|
|2012|   London|Tennis|    Tennis|    WILLIAMS, Serena|    USA| Women|Singles| Gold|
+----+---------+------+----------+--------------------+-------+------+-------+-----+

In [20]:
dataset.groupBy('Year','Sport').count().collect()

[Row(Year=2000, Sport='Handball', count=90),
 Row(Year=2004, Sport='Modern Pentathlon', count=6),
 Row(Year=1932, Sport='Gymnastics', count=45),
 Row(Year=1948, Sport='Modern Pentathlon', count=3),
 Row(Year=1968, Sport='Sailing', count=33),
 Row(Year=1972, Sport='Boxing', count=44),
 Row(Year=2004, Sport='Archery', count=24),
 Row(Year=1952, Sport='Hockey', count=38),
 Row(Year=1964, Sport='Canoe / Kayak', count=39),
 Row(Year=1976, Sport='Sailing', count=36),
 Row(Year=1992, Sport='Boxing', count=48),
 Row(Year=2004, Sport='Football', count=98),
 Row(Year=1976, Sport='Wrestling', count=60),
 Row(Year=1956, Sport='Gymnastics', count=100),
 Row(Year=1896, Sport='Wrestling', count=3),
 Row(Year=1948, Sport='Wrestling', count=48),
 Row(Year=1976, Sport='Basketball', count=72),
 Row(Year=1988, Sport='Cycling', count=45),
 Row(Year=2008, Sport='Aquatics', count=347),
 Row(Year=1968, Sport='Athletics', count=135),
 Row(Year=1924, Sport='Wrestling', count=39),
 Row(Year=1988, Sport='Rowing', count=159),
 Row(Year=1972, Sport='Judo', count=23),
 Row(Year=1960, Sport='Wrestling', count=48),
 Row(Year=1984, Sport='Fencing', count=72),
 Row(Year=1920, Sport='Ice Hockey', count=27),
 Row(Year=1908, Sport='Football', count=33),
 Row(Year=1912, Sport='Rowing', count=61),
 Row(Year=1920, Sport='Equestrian', count=42),
 Row(Year=1920, Sport='Polo', count=14),
 Row(Year=1984, Sport='Rowing', count=162),
 Row(Year=1988, Sport='Boxing', count=48),
 Row(Year=1920, Sport='Cycling', count=39),
 Row(Year=1956, Sport='Sailing', count=34),
 Row(Year=1968, Sport='Equestrian', count=36),
 Row(Year=1992, Sport='Rowing', count=156),
 Row(Year=1932, Sport='Aquatics', count=88),
 Row(Year=1972, Sport='Basketball', count=36),
 Row(Year=1996, Sport='Boxing', count=48),
 Row(Year=2000, Sport='Basketball', count=72),
 Row(Year=2004, Sport='Boxing', count=44),
 Row(Year=1904, Sport='Football', count=57),
 Row(Year=1936, Sport='Aquatics', count=94),
 Row(Year=1980, Sport='Volleyball', count=72),
 Row(Year=1900, Sport='Basque Pelota', count=4),
 Row(Year=1952, Sport='Fencing', count=66),
 Row(Year=1988, Sport='Fencing', count=72),
 Row(Year=1996, Sport='Football', count=104),
 Row(Year=2008, Sport='Tennis', count=18),
 Row(Year=1936, Sport='Equestrian', count=39),
 Row(Year=1912, Sport='Tennis', count=36),
 Row(Year=1972, Sport='Hockey', count=47),
 Row(Year=2004, Sport='Triathlon', count=6),
 Row(Year=1900, Sport='Shooting', count=52),
 Row(Year=1952, Sport='Weightlifting', count=21),
 Row(Year=1984, Sport='Archery', count=6),
 Row(Year=1992, Sport='Cycling', count=50),
 Row(Year=1924, Sport='Rowing', count=76),
 Row(Year=1936, Sport='Weightlifting', count=15),
 Row(Year=1972, Sport='Archery', count=6),
 Row(Year=2012, Sport='Canoe', count=81),
 Row(Year=1932, Sport='Sailing', count=41),
 Row(Year=1976, Sport='Volleyball', count=72),
 Row(Year=1980, Sport='Hockey', count=96),
 Row(Year=1992, Sport='Fencing', count=72),
 Row(Year=1972, Sport='Volleyball', count=71),
 Row(Year=1980, Sport='Archery', count=6),
 Row(Year=1980, Sport='Canoe / Kayak', count=57),
 Row(Year=2000, Sport='Canoe / Kayak', count=84),
 Row(Year=1936, Sport='Cycling', count=36),
 Row(Year=1976, Sport='Boxing', count=44),
 Row(Year=1988, Sport='Athletics', count=163),
 Row(Year=2008, Sport='Handball', count=85),
 Row(Year=2008, Sport='Sailing', count=54),
 Row(Year=1920, Sport='Rowing', count=60),
 Row(Year=2000, Sport='Tennis', count=18),
 Row(Year=1924, Sport='Weightlifting', count=15),
 Row(Year=1980, Sport='Aquatics', count=159),
 Row(Year=1988, Sport='Basketball', count=72),
 Row(Year=1996, Sport='Hockey', count=96),
 Row(Year=2004, Sport='Taekwondo', count=24),
 Row(Year=1908, Sport='Archery', count=9),
 Row(Year=1920, Sport='Boxing', count=24),
 Row(Year=1924, Sport='Tennis', count=24),
 Row(Year=1928, Sport='Boxing', count=24),
 Row(Year=1960, Sport='Aquatics', count=128),
 Row(Year=1904, Sport='Weightlifting', count=6),
 Row(Year=1956, Sport='Weightlifting', count=21),
 Row(Year=1968, Sport='Football', count=51),
 Row(Year=1972, Sport='Weightlifting', count=27),
 Row(Year=1984, Sport='Canoe / Kayak', count=69),
 Row(Year=2008, Sport='Volleyball', count=84),
 Row(Year=1932, Sport='Boxing', count=24),
 Row(Year=1960, Sport='Boxing', count=40),
 Row(Year=1984, Sport='Equestrian', count=47),
 Row(Year=1924, Sport='Gymnastics', count=49),
 Row(Year=1968, Sport='Fencing', count=72),
 Row(Year=1972, Sport='Aquatics', count=177),
 Row(Year=1996, Sport='Badminton', count=24),
 Row(Year=1932, Sport='Cycling', count=36),
 Row(Year=1932, Sport='Weightlifting', count=15),
 Row(Year=2012, Sport='Basketball', count=72),
 Row(Year=1996, Sport='Volleyball', count=84),
 Row(Year=2004, Sport='Basketball', count=70),
 Row(Year=2004, Sport='Weightlifting', count=45),
 Row(Year=1948, Sport='Canoe / Kayak', count=39),
 Row(Year=1972, Sport='Modern Pentathlon', count=12),
 Row(Year=1920, Sport='Tennis', count=24),
 Row(Year=1964, Sport='Boxing', count=40),
 Row(Year=1992, Sport='Judo', count=56),
 Row(Year=2008, Sport='Wrestling', count=71),
 Row(Year=1928, Sport='Hockey', count=59),
 Row(Year=1996, Sport='Weightlifting', count=30),
 Row(Year=1896, Sport='Gymnastics', count=45),
 Row(Year=1924, Sport='Boxing', count=24),
 Row(Year=1988, Sport='Tennis', count=24),
 Row(Year=1904, Sport='Boxing', count=19),
 Row(Year=1900, Sport='Cycling', count=6),
 Row(Year=1948, Sport='Aquatics', count=91),
 Row(Year=1900, Sport='Aquatics', count=61),
 Row(Year=1952, Sport='Shooting', count=21),
 Row(Year=1972, Sport='Gymnastics', count=72),
 Row(Year=2008, Sport='Modern Pentathlon', count=6),
 Row(Year=1920, Sport='Fencing', count=76),
 Row(Year=1992, Sport='Table Tennis', count=24),
 Row(Year=1904, Sport='Gymnastics', count=48),
 Row(Year=1932, Sport='Modern Pentathlon', count=3),
 Row(Year=1952, Sport='Athletics', count=126),
 Row(Year=1952, Sport='Basketball', count=40),
 Row(Year=2000, Sport='Modern Pentathlon', count=6),
 Row(Year=1936, Sport='Football', count=41),
 Row(Year=1936, Sport='Canoe / Kayak', count=42),
 Row(Year=1968, Sport='Basketball', count=36),
 Row(Year=1980, Sport='Cycling', count=36),
 Row(Year=1996, Sport='Archery', count=24),
 Row(Year=1908, Sport='Fencing', count=31),
 Row(Year=1976, Sport='Athletics', count=147),
 Row(Year=1924, Sport='Football', count=66),
 Row(Year=1936, Sport='Gymnastics', count=70),
 Row(Year=1996, Sport='Athletics', count=180),
 Row(Year=1920, Sport='Hockey', count=42),
 Row(Year=1984, Sport='Athletics', count=161),
 Row(Year=1928, Sport='Modern Pentathlon', count=3),
 Row(Year=1936, Sport='Handball', count=61),
 Row(Year=1972, Sport='Handball', count=45),
 Row(Year=2000, Sport='Football', count=108),
 Row(Year=2004, Sport='Gymnastics', count=99),
 Row(Year=1912, Sport='Athletics', count=127),
 Row(Year=1956, Sport='Rowing', count=78),
 Row(Year=1996, Sport='Handball', count=96),
 Row(Year=1924, Sport='Rugby', count=82),
 Row(Year=1968, Sport='Aquatics', count=177),
 Row(Year=2012, Sport='Fencing', count=66),
 Row(Year=1932, Sport='Rowing', count=78),
 Row(Year=1972, Sport='Canoe / Kayak', count=54),
 Row(Year=1992, Sport='Canoe / Kayak', count=84),
 Row(Year=1908, Sport='Aquatics', count=48),
 Row(Year=1912, Sport='Modern Pentathlon', count=3),
 Row(Year=1980, Sport='Wrestling', count=60),
 Row(Year=1912, Sport='Sailing', count=73),
 Row(Year=1936, Sport='Polo', count=12),
 Row(Year=1996, Sport='Softball', count=45),
 Row(Year=2012, Sport='Wrestling', count=72),
 Row(Year=1956, Sport='Modern Pentathlon', count=12),
 Row(Year=1952, Sport='Sailing', count=44),
 Row(Year=1992, Sport='Football', count=37),
 Row(Year=2000, Sport='Table Tennis', count=18),
 Row(Year=2008, Sport='Rowing', count=144),
 Row(Year=1936, Sport='Wrestling', count=42),
 Row(Year=1976, Sport='Modern Pentathlon', count=12),
 Row(Year=1988, Sport='Football', count=61),
 Row(Year=1956, Sport='Wrestling', count=48),
 Row(Year=1968, Sport='Shooting', count=21),
 Row(Year=1896, Sport='Athletics', count=37),
 Row(Year=1908, Sport='Cycling', count=30),
 Row(Year=1908, Sport='Polo', count=12),
 Row(Year=1912, Sport='Wrestling', count=15),
 Row(Year=1920, Sport='Football', count=46),
 Row(Year=1952, Sport='Modern Pentathlon', count=12),
 Row(Year=1984, Sport='Shooting', count=33),
 Row(Year=1964, Sport='Cycling', count=42),
 Row(Year=1988, Sport='Shooting', count=39),
 Row(Year=1948, Sport='Weightlifting', count=18),
 Row(Year=1992, Sport='Hockey', count=96),
 Row(Year=1904, Sport='Golf', count=24),
 Row(Year=1960, Sport='Rowing', count=78),
 Row(Year=1976, Sport='Cycling', count=36),
 Row(Year=1976, Sport='Gymnastics', count=74),
 Row(Year=1992, Sport='Basketball', count=72),
 Row(Year=1976, Sport='Weightlifting', count=27),
 Row(Year=2004, Sport='Shooting', count=51),
 Row(Year=1984, Sport='Volleyball', count=72),
 Row(Year=1988, Sport='Archery', count=24),
 Row(Year=1996, Sport='Equestrian', count=45),
 Row(Year=2008, Sport='Equestrian', count=45),
 Row(Year=1904, Sport='Wrestling', count=21),
 Row(Year=1980, Sport='Weightlifting', count=30),
 Row(Year=1988, Sport='Aquatics', count=202),
 Row(Year=2000, Sport='Judo', count=56),
 Row(Year=2000, Sport='Weightlifting', count=45),
 Row(Year=2008, Sport='Baseball', count=72),
 Row(Year=1936, Sport='Basketball', count=34),
 Row(Year=1968, Sport='Gymnastics', count=72),
 Row(Year=2008, Sport='Shooting', count=45),
 Row(Year=1908, Sport='Sailing', count=48),
 Row(Year=1964, Sport='Volleyball', count=72),
 Row(Year=1936, Sport='Boxing', count=24),
 Row(Year=1992, Sport='Equestrian', count=45),
 Row(Year=2004, Sport='Handball', count=88),
 Row(Year=2012, Sport='Gymnastics', count=93),
 Row(Year=1952, Sport='Boxing', count=40),
 Row(Year=1960, Sport='Athletics', count=129),
 Row(Year=2012, Sport='Aquatics', count=342),
 Row(Year=1984, Sport='Hockey', count=96),
 Row(Year=1988, Sport='Weightlifting', count=30),
 Row(Year=2000, Sport='Equestrian', count=45),
 Row(Year=2012, Sport='Hockey', count=97),
 Row(Year=1972, Sport='Sailing', count=39),
 Row(Year=2000, Sport='Fencing', count=66),
 Row(Year=2000, Sport='Sailing', count=54),
 Row(Year=2008, Sport='Canoe / Kayak', count=84),
 Row(Year=1908, Sport='Hockey', count=22),
 Row(Year=1920, Sport='Wrestling', count=31),
 Row(Year=1952, Sport='Football', count=38),
 Row(Year=2004, Sport='Baseball', count=71),
 Row(Year=1956, Sport='Cycling', count=36),
 Row(Year=1996, Sport='Shooting', count=45),
 Row(Year=2000, Sport='Shooting', count=51),
 Row(Year=1920, Sport='Sailing', count=102),
 Row(Year=1992, Sport='Baseball', count=60),
 Row(Year=1904, Sport='Aquatics', count=43),
 Row(Year=1924, Sport='Shooting', count=88),
 Row(Year=1972, Sport='Football', count=70),
 Row(Year=1972, Sport='Shooting', count=24),
 Row(Year=1992, Sport='Volleyball', count=72),
 Row(Year=1948, Sport='Athletics', count=126),
 Row(Year=2008, Sport='Softball', count=45),
 Row(Year=1992, Sport='Weightlifting', count=29),
 Row(Year=1948, Sport='Rowing', count=78),
 Row(Year=1976, Sport='Fencing', count=71),
 Row(Year=1988, Sport='Volleyball', count=72),
 Row(Year=2008, Sport='Triathlon', count=6),
 Row(Year=2012, Sport='Table Tennis', count=24),
 Row(Year=1924, Sport='Modern Pentathlon', count=3),
 Row(Year=1976, Sport='Archery', count=6),
 Row(Year=1908, Sport='Boxing', count=15),
 Row(Year=1956, Sport='Equestrian', count=43),
 Row(Year=1992, Sport='Sailing', count=51),
 Row(Year=1996, Sport='Table Tennis', count=18),
 Row(Year=1912, Sport='Equestrian', count=33),
 Row(Year=1920, Sport='Skating', count=12),
 Row(Year=1932, Sport='Equestrian', count=24),
 Row(Year=1976, Sport='Judo', count=24),
 Row(Year=2012, Sport='Triathlon', count=6),
 Row(Year=1956, Sport='Boxing', count=40),
 Row(Year=1976, Sport='Football', count=51),
 Row(Year=1920, Sport='Rugby', count=33),
 Row(Year=1900, Sport='Football', count=35),
 Row(Year=1924, Sport='Polo', count=16),
 Row(Year=1964, Sport='Basketball', count=36),
 Row(Year=1996, Sport='Canoe / Kayak', count=84),
 Row(Year=1996, Sport='Cycling', count=52),
 Row(Year=2000, Sport='Cycling', count=75),
 Row(Year=2004, Sport='Aquatics', count=332),
 Row(Year=1924, Sport='Equestrian', count=31),
 Row(Year=1896, Sport='Weightlifting', count=6),
 Row(Year=1932, Sport='Wrestling', count=42),
 Row(Year=1900, Sport='Cricket', count=24),
 Row(Year=1972, Sport='Cycling', count=37),
 Row(Year=1992, Sport='Wrestling', count=60),
 Row(Year=1960, Sport='Basketball', count=36),
 Row(Year=1988, Sport='Hockey', count=96),
 Row(Year=1988, Sport='Table Tennis', count=18),
 Row(Year=2000, Sport='Hockey', count=96),
 Row(Year=2004, Sport='Hockey', count=95),
 Row(Year=1948, Sport='Gymnastics', count=72),
 Row(Year=1984, Sport='Boxing', count=48),
 Row(Year=1920, Sport='Athletics', count=117),
 Row(Year=1928, Sport='Cycling', count=39),
 Row(Year=2000, Sport='Boxing', count=48),
 Row(Year=1900, Sport='Archery', count=18),
 Row(Year=1920, Sport='Gymnastics', count=202),
 Row(Year=1956, Sport='Canoe / Kayak', count=39),
 Row(Year=1956, Sport='Hockey', count=42),
 Row(Year=1992, Sport='Aquatics', count=228),
 Row(Year=1996, Sport='Basketball', count=72),
 Row(Year=1996, Sport='Fencing', count=60),
 Row(Year=2000, Sport='Archery', count=24),
 Row(Year=1964, Sport='Rowing', count=78),
 Row(Year=2012, Sport='Rowing', count=144),
 Row(Year=1900, Sport='Sailing', count=26),
 Row(Year=1912, Sport='Cycling', count=15),
 Row(Year=1936, Sport='Rowing', count=78),
 Row(Year=1952, Sport='Equestrian', count=36),
 Row(Year=1964, Sport='Aquatics', count=145),
 Row(Year=1992, Sport='Gymnastics', count=80),
 Row(Year=2004, Sport='Rowing', count=144),
 Row(Year=1912, Sport='Aquatics', count=78),
 Row(Year=1956, Sport='Shooting', count=21),
 Row(Year=1960, Sport='Canoe / Kayak', count=39),
 Row(Year=1972, Sport='Equestrian', count=42),
 Row(Year=1976, Sport='Rowing', count=162),
 Row(Year=1980, Sport='Football', count=51),
 Row(Year=1980, Sport='Gymnastics', count=75),
 Row(Year=1980, Sport='Handball', count=84),
 Row(Year=1980, Sport='Rowing', count=162),
 Row(Year=2000, Sport='Wrestling', count=48),
 Row(Year=1924, Sport='Sailing', count=26),
 Row(Year=1928, Sport='Equestrian', count=37),
 Row(Year=1964, Sport='Athletics', count=135),
 Row(Year=2000, Sport='Baseball', count=72),
 Row(Year=1920, Sport='Aquatics', count=87),
 Row(Year=1932, Sport='Fencing', count=65),
 Row(Year=1988, Sport='Equestrian', count=45),
 Row(Year=1976, Sport='Equestrian', count=42),
 Row(Year=1984, Sport='Basketball', count=72),
 Row(Year=1960, Sport='Cycling', count=39),
 Row(Year=1976, Sport='Canoe / Kayak', count=57),
 Row(Year=1976, Sport='Handball', count=84),
 Row(Year=1904, Sport='Archery', count=30),
 Row(Year=1964, Sport='Judo', count=16),
 Row(Year=1968, Sport='Cycling', count=42),
 Row(Year=1904, Sport='Fencing', count=18),
 Row(Year=1904, Sport='Tug of War', count=15),
 Row(Year=1964, Sport='Hockey', count=45),
 Row(Year=1972, Sport='Rowing', count=78),
 Row(Year=2012, Sport='Football', count=110),
 Row(Year=1908, Sport='Jeu de paume', count=3),
 Row(Year=1968, Sport='Rowing', count=78),
 Row(Year=2008, Sport='Hockey', count=98),
 Row(Year=2008, Sport='Taekwondo', count=32),
 Row(Year=1924, Sport='Cycling', count=36),
 Row(Year=1948, Sport='Fencing', count=66),
 Row(Year=1984, Sport='Modern Pentathlon', count=12),
 Row(Year=1996, Sport='Sailing', count=48),
 Row(Year=2000, Sport='Badminton', count=24),
 Row(Year=1920, Sport='Modern Pentathlon', count=3),
 Row(Year=1948, Sport='Football', count=41),
 Row(Year=1960, Sport='Weightlifting', count=21),
 Row(Year=1968, Sport='Boxing', count=44),
 Row(Year=1988, Sport='Wrestling', count=60),
 Row(Year=2000, Sport='Triathlon', count=6),
 Row(Year=2008, Sport='Judo', count=56),
 Row(Year=2012, Sport='Equestrian', count=45),
 Row(Year=1928, Sport='Rowing', count=78),
 Row(Year=1960, Sport='Modern Pentathlon', count=12),
 Row(Year=1996, Sport='Aquatics', count=262),
 Row(Year=2008, Sport='Athletics', count=177),
 Row(Year=2008, Sport='Boxing', count=44),
 Row(Year=1908, Sport='Tug of War', count=27),
 Row(Year=1932, Sport='Hockey', count=34),
 Row(Year=1960, Sport='Hockey', count=40),
 Row(Year=1980, Sport='Fencing', count=70),
 Row(Year=1996, Sport='Modern Pentathlon', count=3),
 Row(Year=2004, Sport='Cycling', count=76),
 Row(Year=1900, Sport='Equestrian', count=9),
 Row(Year=1972, Sport='Athletics', count=150),
 Row(Year=2012, Sport='Weightlifting', count=45),
 Row(Year=1896, Sport='Tennis', count=10),
 Row(Year=1960, Sport='Football', count=45),
 Row(Year=1980, Sport='Boxing', count=44),
 Row(Year=1896, Sport='Aquatics', count=11),
 Row(Year=1912, Sport='Shooting', count=144),
 Row(Year=1968, Sport='Modern Pentathlon', count=12),
 Row(Year=1996, Sport='Judo', count=56),
 Row(Year=2012, Sport='Cycling', count=80),
 Row(Year=1908, Sport='Rowing', count=56),
 Row(Year=1928, Sport='Weightlifting', count=15),
 Row(Year=1980, Sport='Shooting', count=21),
 Row(Year=2008, Sport='Basketball', count=72),
 Row(Year=2012, Sport='Badminton', count=24),
 Row(Year=2012, Sport='Judo', count=56),
 Row(Year=1900, Sport='Gymnastics', count=3),
 Row(Year=1924, Sport='Athletics', count=128),
 Row(Year=1928, Sport='Football', count=66),
 Row(Year=1980, Sport='Judo', count=32),
 Row(Year=1920, Sport='Tug of War', count=24),
 Row(Year=1908, Sport='Rackets', count=10),
 Row(Year=1948, Sport='Cycling', count=36),
 Row(Year=1964, Sport='Modern Pentathlon', count=12),
 Row(Year=1992, Sport='Badminton', count=24),
 Row(Year=2012, Sport='Modern Pentathlon', count=6),
 Row(Year=1900, Sport='Golf', count=6),
 Row(Year=1904, Sport='Rowing', count=45),
 Row(Year=1960, Sport='Fencing', count=76),
 Row(Year=1968, Sport='Hockey', count=42),
 Row(Year=1972, Sport='Fencing', count=71),
 Row(Year=2004, Sport='Athletics', count=183),
 Row(Year=1904, Sport='Roque', count=3),
 Row(Year=1908, Sport='Gymnastics', count=119),
 Row(Year=1896, Sport='Shooting', count=15),
 Row(Year=1948, Sport='Boxing', count=24),
 Row(Year=1960, Sport='Sailing', count=33),
 Row(Year=1980, Sport='Modern Pentathlon', count=12),
 Row(Year=1992, Sport='Archery', count=24),
 Row(Year=2004, Sport='Sailing', count=54),
 Row(Year=2008, Sport='Football', count=108),
 Row(Year=1996, Sport='Baseball', count=60),
 Row(Year=2000, Sport='Athletics', count=184),
 Row(Year=1908, Sport='Tennis', count=24),
 Row(Year=1908, Sport='Water Motorsports', count=5),
 Row(Year=1936, Sport='Shooting', count=9),
 Row(Year=2004, Sport='Table Tennis', count=18),
 Row(Year=1912, Sport='Tug of War', count=16),
 Row(Year=1932, Sport='Athletics', count=114),
 Row(Year=1964, Sport='Football', count=50),
 Row(Year=2008, Sport='Fencing', count=62),
 Row(Year=2012, Sport='Taekwondo', count=32),
 Row(Year=1936, Sport='Athletics', count=114),
 Row(Year=1976, Sport='Shooting', count=21),
 Row(Year=1900, Sport='Athletics', count=76),
 Row(Year=1920, Sport='Archery', count=80),
 Row(Year=1984, Sport='Cycling', count=42),
 Row(Year=1992, Sport='Athletics', count=178),
 Row(Year=2000, Sport='Taekwondo', count=24),
 Row(Year=1948, Sport='Sailing', count=40),
 Row(Year=1936, Sport='Sailing', count=42),
 Row(Year=1956, Sport='Athletics', count=127),
 Row(Year=1928, Sport='Athletics', count=108),
 Row(Year=1928, Sport='Fencing', count=47),
 Row(Year=1964, Sport='Fencing', count=71),
 Row(Year=2004, Sport='Softball', count=45),
 Row(Year=1900, Sport='Polo', count=12),
 Row(Year=1956, Sport='Fencing', count=64),
 Row(Year=1964, Sport='Gymnastics', count=73),
 Row(Year=1984, Sport='Gymnastics', count=78),
 Row(Year=1904, Sport='Athletics', count=82),
 Row(Year=1952, Sport='Wrestling', count=48),
 Row(Year=1984, Sport='Wrestling', count=60),
 Row(Year=2004, Sport='Badminton', count=24),
 Row(Year=1912, Sport='Fencing', count=51),
 Row(Year=1980, Sport='Sailing', count=36),
 Row(Year=1992, Sport='Modern Pentathlon', count=12),
 Row(Year=2004, Sport='Tennis', count=16),
 Row(Year=2012, Sport='Volleyball', count=84),
 Row(Year=1900, Sport='Rowing', count=68),
 Row(Year=1912, Sport='Football', count=33),

In [21]:
spark.stop()

# Biblio
- https://data-flair.training/blogs/apache-spark-rdd-vs-dataframe-vs-dataset/
- https://medium.com/@ravi.g/sparks-structured-api-s-cdeb381f6407
- https://www.kdnuggets.com/2017/08/three-apache-spark-apis-rdds-dataframes-datasets.html
- https://www.slideshare.net/databricks/jump-start-into-apache-spark-and-databricks